*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
     background-color: #a2613e;
     font-family: "Source Code Pro", monospace;
     height: 500vh;
}

header{
background-color: #5f422f;
  width: 100%;
  padding: 15px;
}

a{
    text-decoration: none;
    color: rgb(8, 8, 8);
}
header nav{
    display: flex;
    gap: 17px;
}

nav.menu-lateral{
    width: 55px;
    height: 100%;
    background-color: rgb(56, 54, 54);
    padding: 40px 0 40px ;
    box-shadow: 3px 0 0 #383736;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
}



.btn-expandir i{
    cursor: pointer;
    color: #a2613e; 
    font-size: 28px;
}

ul {
    height: 100%;
    flex-direction: column;
    gap: 100px;
}

ul li.iten-menu:hover{
    background: #f1875d;
}
ul li.iten-menu{
    transition: 0.6s;
    padding: 20px;
}

ul li.iten-menu a{
color: rgb(234, 240, 240);
text-decoration: none;
font-size: 20px;
}


.icon{
color: #a2613e;
}

nav.menu-lateral:hover{
    width: 300px;
}

.txt-link{
    margin-left: 55px;
}
.txt-link2{
    padding: 55px;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


.card {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a2613e;
    padding:75px;
    font-size: 25px;
    margin-left: 190px;
}

.suport {
    display: flex;
    gap: 29px;
    float: right;
    background-color: #3f3c3c; 
    padding: 9px;
 
}


.suport a {
    color: #a2613e; 
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Transição suave */
}

.suport a:hover {
    color: #ffffff; /* Cor do texto ao passar o mouse */
    background-color: #a2613e; /* Cor de fundo ao passar o mouse */
    border-radius: 5px;
}

.material-symbols-outlined{
    color: #a2613e;
    padding: 3px;

}