*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Changa:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
     background-color: #a2613e;
     font-family: "Source Code Pro", monospace;
   
}


a{
    text-decoration: none;
    color: rgb(8, 8, 8);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    
}
.img-logo{
  object-fit: cover;
}


nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: rgb(56, 54, 54);
    padding: 40px 0 40px ;
    box-shadow: 3px 0 0 #383736;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}


ul {
    height: 100%;
    gap: 100px;
}

ul li.iten-menu:hover{
    background: #f1875d;
}
ul li.iten-menu{
    transition: 0.6s;
    padding: 20px;
}

ul li.iten-menu a{
color: rgb(234, 240, 240);
text-decoration: none;
font-size: 20px;
}


.icon{
color: #a2613e;
}

nav.menu-lateral:hover{
    width: 300px;
}

.txt-link{
    margin-left: 55px;
}
.txt-link2{
    padding: 55px;
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed; 
  right: 10px; 
  bottom: 10px;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #0dd757;
}



.sign svg {
  width: 25px; /* foto do zap */
}

.sign svg path {
  fill: white;
}
.text {
 display: flex;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.Btn:active {
  transform: translate(2px, 2px);
}

  

