*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(33, 70, 33);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
background-color: rgb(44, 46, 45);
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  
}

a{
    text-decoration: none;
    color: antiquewhite;
}
header nav{
    display: flex;
    gap: 17px;
}

.conteiner-menu-lateral{
padding: 22px;
flex-direction: column;
display: flex;
gap: 50px;
width:350px;
height: 440px;
background-color: rgb(44, 46, 45);

}

.conteiner-agendamentos{
    background-color: rgb(15, 15, 15);
    padding: 20px;
    width: 300px;
}
.conteiner-faturamento{
    background-color: rgb(15, 15, 15);
    padding: 20px;
    width: 300px;
}

.conteiner-aniversariantes{
    background-color: rgb(15, 15, 15);
    padding: 20px;
    width: 300px;
}

.conteiner-cadastros{
    background-color: rgb(15, 15, 15);
    padding: 20px;
    width: 300px;
}

.material-symbols-outlined{
    color: antiquewhite;
}
