*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


h1 {
   
    display: flex;
}
body{
font-family: "Source Code Pro", monospace;
background-color: #a3603e;}
 
form{
        display: flex;
        flex-direction: column;
        top: 45%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        align-items: center; 
        gap: 11px;  
        background-color: #6b4e3a;
        border-radius: 12px;
        width: 400px;
        height: 500px;
        justify-content: center;
    }   
    
.conteiner-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.conteiner-login input{
    border: none;
    border-radius: 9px;
    width: 330px;
    height: 47px;
    padding-left: 40px;
}

span{
    align-items: center;
}

.material-symbols-outlined{
    position: absolute;
    margin-top: 13px;
    color: rgb(129, 127, 127);
    margin-left: 10px;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(216, 211, 211);   
}
      
    .href{
        color:  rgb(214, 218, 216) }

    .suport{
        background-color: #383736;
        display: flex ;
        justify-content: flex-end;
        height: 50px;
        align-items: center;
        gap: 15px;
        padding: 22px;
}

.botoes{
    font-size: 17px;
    color: rgb(232, 233, 233);
    padding: 4px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}
 button{
    background-color: rgb(43, 32, 26);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
 }
img{
width: 210px;
}

