*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


h1 {
    color: rgba(36, 141, 83, 0.952);
    display: flex;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
  .login{
        flex-direction: column;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        align-items: center; 
        gap: 12px;  
        flex-direction: column;
        display: flex;
        background-color: antiquewhite;
        border-radius: 12px;
        width: 350px;
        height: 500px;
        justify-content: center;
    }   
    
    a{
        text-decoration: none;
        font-size: 15px;
        color: rgb(227, 228, 227);
        
    }
   
   
    .href{
        color:  rgb(24, 26, 25) }
   


    .suport{
        background-color: rgb(44, 46, 45);
        display: flex ;
        justify-content: flex-end;
        height: 50px;
        align-items: center;
        gap: 10px;
        padding: 10px;


}

body{
   background-color: rgb(33, 70, 33);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 
}

.botoes{
    font-size: 17px;
    color: rgb(232, 233, 233);
    padding: 4px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}
 button{
    background-color: rgb(61, 148, 107);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 13px;
    display: flex;
    font-size: 12px;
 }
img{
width: 150px;
}